<h1>
    This is a thread. Last updated: {{last_update}}
</h1>

{% for comment in comments %}
<div>
<p>
    Sent by: {{comment.creator}}
</p>
<p>
    {{comment.message}}
</p>
</div>
<br>
{% endfor %}
<div>
<h1> Post new comment: </h1>
<form method="POST" action="" id="msgform">
    {%csrf_token%}
    <label for="creator">Creator:</label>
    <input type="textarea" id="creator" name="creator" value="anonymous"><br>
    <label for="message">Message:</label>
    <textarea rows="4" cols="50" id="message" name="message"></textarea>
    <br>
    <input type="submit" value="Submit">
</form>
</div>