{% extends 'base/main.html' %}

{% block content %}
<div class="container">
<h1>
    {{thread.title}}
</h1>
<p>
    Created by: {{thread.creator}}
</p>
<p>
    {{thread.description}}
</p>
</div>
{% for comment in comments %}
<div>
<p>
    Sent by: {{comment.creator}}
</p>
<p>
    {{comment.message}}
</p>
</div>
<hr>
{% empty %}
<p>
    No comment has been made.
</p>
{% endfor %}
<div>
<h3> Post new comment: </h3>
<form method="POST" action="" id="msgform">
    {%csrf_token%}
    <label for="creator">Creator:</label>
    <input type="textarea" id="creator" name="creator" value="anonymous"><br>
    <label for="message">Message:</label>
    <textarea rows="4" cols="50" id="message" name="message"></textarea>
    <br>
    <input type="submit" value="Submit">
</form>
</div>

{% endblock content %}
