{% extends 'base/main.html' %}

{% block content %}

<div class="header-bar">
    Register
</div>

<form method="POST">
    {% csrf_token %}
    <div class="form-group">
    <label>{{form.username.label}}</label>
    {{form.username}}
    </div>
    <div class="form-group">
    <label>{{form.password1.label}}</label>
    {{form.password1}}
    </div>
    <div class="form-group">
    <label>{{form.password2.label}}</label>
    {{form.password2}}
    </div>
    <div class="form-group">
    <input style="margin-top:10px ;" class="button" type="submit" value="Register">
    </div>
</form>
<p>Already have an account? <a href="{% url 'login' %}">Login</a></p>

<a href="{% url 'login' %}"> Login </a>

{% endblock content %}